.first{
    background-color:white;
    position: relative;
    top: 40px;
    left: -7px;
    width: 101%;
}

.img1{
    position: relative;
    margin: 50px 0px 0px 100px;
    border-radius: 20px;
    left: 10px;
    height: 300px;
    width: auto;
}

.img{
    position: relative;
    margin: 50px 20px 15px 150px;
    border-radius: 20px;
    left: 10px;
    height: 350px;
    width: auto;
}

.first p{
    text-align: center;
    display: inline-block;
    position: relative;
    top: -150px;
    left: 100px;
    font-size: 25px;
    width:  50%;
}

.second{
    position: relative;
    top: 70px;
    left: -7px;
    width: 101%;
}

.left{
    background-color:white;
    position: relative;
    top: 26px;
    left: -7px;
    width: 47%;
    height: 365px;
    border-top-right-radius: 15px;
    float: left;
}

.left p{
    position: relative;
    text-align: center;
    font-size: 25px;
    top: 120px;
}

.slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
    width: 49%;
    display: inline-block;
    left: 30px;
}
.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc( 300px + 4em);
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}
.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.slide-item img {
    display: block;
    height: auto;
    max-width: 100%;
}
.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
}
.slide-control.next {
    right: 2%;
}
.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}
.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}
.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #428bca;
}
#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
}
@keyframes cambiarColor {
    0%{
         background: green;
    }

    20%{
         background: blue;
    }

    40%{
         background: orange;
    }

    60%{
         background: yellow;
    }

    80%{
         background: purple;
    }

    100%{
         background: red;
    }
}

.ani{
    width: 90%;
    height: 40%;
    background: gray;
    margin: auto;
    margin-top: 50px;
    animation-name: cambiarColor;
    animation-duration: 10s;  
    animation-delay: 0.4s;
    animation-iteration-count: 2;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    
    font-size: 60px;
    font-weight: bold;
    font-style:unset;
    color: #434343;
    background-color: #6fa84b;
    border-style: solid;
    border-color: #066d8b;
    border-width: 2px;
    margin: 14px;
    padding: 20px;
    border-radius: 14px;
}

.top{
    position: relative;
    top: 110px;
}

footer{
    background-color:white;
    position: relative;
    top: 140px;
    left: -7px;
    width: 101%;
}

footer a{
    text-decoration: none;
    position: relative;
    top: -15px;
    left: 45px;
}

footer p{
    position: relative;
    top: 15px;
    font-size: 20px;
}

.image{
    filter: grayscale(100%);
    position: relative;
}